body {
    background-color: #56baec;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

h1 {
    justify-self: flex-start;
    align-self: center;
    margin-top: 0;
}

#authBox {
    display: flex;
    max-width: 50%;
    align-self: center;
    flex-direction: column;
    align-items: baseline;
    padding: 3em 5em;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    font-family: sans-serif;
}

input[type="text"], input[type="password"] {
    width: 150px;
}

#submitButton {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    color: white;
}

#submitButton:hover {
    background-color: blue;
}