table, th, td {
    border: 1px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#app {
    text-align: center;
}