#app {
    background-color: #56baec;
    display: grid;
    height: calc(100vh - 40px);
    grid-template-areas: "header header header" "lbar content rbar";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: header;
    padding: 2rem;
    padding: 0;
}

h1 {
    margin: 0;
}

header ul, #left-bar ul {
    list-style-type: none;
    margin: 0;
}

header ul li {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    overflow-wrap: break-word;
}

header li, #left-bar li {
    background-color: rgb(0, 119, 255);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

#left-bar li {
    border-radius: 15px;
}

header li:hover, #left-bar li:hover {
    background: blue;
    cursor: pointer;
}

header li.active, #left-bar li.active {
    background: blue;
}

header li h2 {
    display: block;
}

#left-bar {
    grid-area: lbar;
    min-width: 9em;
}

#left-bar ul {
    padding: 0;
}

.fa-plus {
    color: darkgreen;
    cursor: pointer;
    align-self: center;
}

main {
    grid-area: content;
    padding: 2em;
    overflow-y: auto;
    background-color: white;
    word-wrap: break-word;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.editMode {
    border: 1px solid blue;
}

#editButton, #cancelButton, #saveButton {
    float: right;
}

#right-bar {
    grid-area: rbar;
}

#right-bar ul {
    padding-left: 1em;
    padding-right: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 15vw;
    overflow-wrap: break-word;
    overflow-y: auto;
}

#topic-dropdown, #subtopic-dropdown {
    display: none;
}

/* For mobile phones */

@media screen and (max-width: 600px) {
    #app {
        min-height: calc(100vh - 40px);
        height: auto;
        grid-template-areas: "header" "lbar" "content" "rbar";
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
    }

    main {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3), 0 -2px 5px 0 rgba(0,0,0,0.3);
    }

    .sidebar {
        width: auto;
    }
    #topic-list, #subtopic-list {
        display: none;
    }
    #topic-dropdown, #subtopic-dropdown {
        display: block;
    }
    #subtopic-dropdown.hidden {
        display: none;
    }
}